absl-py                      
anyio                        
appnope                      
argon2-cffi                  
argon2-cffi-bindings         
astunparse                   
attrs                        
Babel                        
backcall                     
beautifulsoup4               
bleach                       
Bottleneck                   
brotlipy                     
cachetools                   
certifi                      
cffi                         
charset-normalizer           
cryptography                 
cycler                       
debugpy                      
decorator                    
defusedxml                   
entrypoints                  
et-xmlfile                   
fastjsonschema               
flatbuffers                  
fonttools                    
gast                         
google-auth                  
google-auth-oauthlib         
google-pasta                 
grpcio                       
h5py                         
idna                        
importlib-metadata           
importlib-resources          
ipykernel                    
ipython                      
ipython-genutils             
ipywidgets                   
jedi                         
Jinja2                       
joblib                       
json5                        
jsonschema                   
jupyter                      
jupyter_client               
jupyter-console              
jupyter-core                 
jupyter-server               
jupyterlab                   
jupyterlab-pygments          
jupyterlab-server            
jupyterlab-widgets           
keras                        
kiwisolver                   
libclang                     
llvmlite                     
Markdown                     
MarkupSafe                   
matplotlib                   
matplotlib-inline            
mistune                      
mkl-fft                      
mkl-random                   
mkl-service                  
munkres                      
nbclassic                    
nbclient                     
nbconvert                    
nbformat                     
nest-asyncio                 
notebook                     
numba                        
numexpr                      
numpy                        
oauthlib                     
openpyxl                     
opt-einsum                   
packaging                   
pandas                       
pandocfilters                
parso                        
patsy                        
pexpect                      
phik                         
pickle5                      
pickleshare                  
Pillow                       
pip                          
ply                         
prometheus-client            
prompt-toolkit               
protobuf                     
ptyprocess                   
pyasn1                       
pyasn1-modules               
pycparser                   
Pygments                     
pyOpenSSL                    
pyparsing                    
PyQt5-sip                    
pyrsistent                   
PySocks                      
python-dateutil              
pytz                         
pyzmq                        
qtconsole                    
QtPy                         
requests                     
requests-oauthlib            
rsa                         
scipy                        
seaborn                      
Send2Trash                   
setuptools                   
sip                          
six                          
sniffio                      
soupsieve                    
statsmodels                  
tensorboard                  
tensorboard-data-server      
tensorboard-plugin-wit       
tensorflow                   
tensorflow-estimator         
tensorflow-io-gcs-filesystem 
termcolor                    
terminado                    
testpath                     
toml                         
tornado                     
traitlets                    
typing_extensions            
urllib3                      
wcwidth                      
webencodings                 
websocket-client             
Werkzeug                     
wheel                        
widgetsnbextension           
wrapt                        
zipp                         
